# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
    paths-ignore:
      - .github/workflows/test_selfhosted.yml
      - Python
      - Docker
      - K8S
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  test-runner:
    runs-on: self-hosted
    steps:
      - name: set up unzip
        run: sudo apt update && sudo apt install unzip -y
        
      - name: checkout repo
        uses: actions/checkout@v4
        with:
          clean: false
          
      - name: init terraform
        run: terraform init
        working-directory: Terraform/k8s

      - name: run terraform
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
        run: terraform apply -auto-approve
        working-directory: Terraform/k8s

      - name: read variables from terraform
        id: read_from_terraform
        working-directory: Terraform/k8s
        run: |
          echo "MASTER_IP=$(terraform output -raw master_public_ip)" >> $GITHUB_ENV
          echo "PRV_KEY_PATH=$(terraform output -raw private_key_path)" >> $GITHUB_ENV

      - name: run ansible
        working-directory: Ansible
        run: |
          MASTER_IP=${{ steps.read_from_terraform.outputs.MASTER_IP }}
          PRV_KEY_PATH=${{ steps.read_from_terraform.outputs.PRV_KEY_PATH }}
          ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -i "${PRV_KEY_PATH}" "ubuntu@${MASTER_IP}" \
          "for ATTEMPT in {1..3}; do ansible all -m ping && break || false; done; exit $?"
          
          if [ "$?" -ne 0 ]
          then
            exit 1
          else
            ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -i "${PRV_KEY_PATH}" "ubuntu@${MASTER_IP}" \
            "ansible-playbook /home/ubuntu/k8s.yaml"
          fi
